USE [master]
GO
/****** Object:  Database [MarathonSkills2016]    Script Date: 15.11.2022 7:33:55 ******/
CREATE DATABASE [MarathonSkills2016]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MarathonSkills2016', FILENAME = N'D:\Soft\SQL Base Files\Data\MarathonSkills2016.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MarathonSkills2016_log', FILENAME = N'D:\Soft\SQL Base Files\Data\MarathonSkills2016_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MarathonSkills2016].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MarathonSkills2016]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 15.11.2022 7:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Email] [nvarchar](350) NOT NULL,
	[Password] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharityOrganizations]    Script Date: 15.11.2022 7:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharityOrganizations](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Name] [nvarchar](400) NOT NULL,
 CONSTRAINT [PK_CharityOrganizations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 15.11.2022 7:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Country] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GenderInfo]    Script Date: 15.11.2022 7:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenderInfo](
	[GenderId] [int] IDENTITY(0,1) NOT NULL,
	[GenderName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GenderInfo] PRIMARY KEY CLUSTERED 
(
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Runners]    Script Date: 15.11.2022 7:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Runners](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[FirstName] [nvarchar](150) NOT NULL,
	[SecondName] [nvarchar](250) NOT NULL,
	[GenderId] [int] NOT NULL,
	[Photo] [image] NOT NULL,
	[Birthday] [date] NOT NULL,
	[CountryId] [int] NOT NULL,
	[Email] [nvarchar](350) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[CharityOrganizationId] [int] NOT NULL,
 CONSTRAINT [PK_Runners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sponsors]    Script Date: 15.11.2022 7:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsors](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[Name] [nvarchar](400) NOT NULL,
	[Contribution] [int] NOT NULL,
	[SponseredOrganizationId] [int] NOT NULL,
 CONSTRAINT [PK_Sponsors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viewers]    Script Date: 15.11.2022 7:33:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viewers](
	[Id] [int] IDENTITY(0,1) NOT NULL,
	[FirstName] [nvarchar](150) NOT NULL,
	[SecondName] [nvarchar](250) NOT NULL,
	[GenderId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[Email] [nvarchar](350) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Viewers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Runners]  WITH CHECK ADD  CONSTRAINT [FK_Runners_CharityOrganizations] FOREIGN KEY([CharityOrganizationId])
REFERENCES [dbo].[CharityOrganizations] ([Id])
GO
ALTER TABLE [dbo].[Runners] CHECK CONSTRAINT [FK_Runners_CharityOrganizations]
GO
ALTER TABLE [dbo].[Runners]  WITH CHECK ADD  CONSTRAINT [FK_Runners_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Runners] CHECK CONSTRAINT [FK_Runners_Countries]
GO
ALTER TABLE [dbo].[Runners]  WITH CHECK ADD  CONSTRAINT [FK_Runners_GenderInfo] FOREIGN KEY([GenderId])
REFERENCES [dbo].[GenderInfo] ([GenderId])
GO
ALTER TABLE [dbo].[Runners] CHECK CONSTRAINT [FK_Runners_GenderInfo]
GO
ALTER TABLE [dbo].[Sponsors]  WITH CHECK ADD  CONSTRAINT [FK_Sponsors_CharityOrganizations] FOREIGN KEY([SponseredOrganizationId])
REFERENCES [dbo].[CharityOrganizations] ([Id])
GO
ALTER TABLE [dbo].[Sponsors] CHECK CONSTRAINT [FK_Sponsors_CharityOrganizations]
GO
ALTER TABLE [dbo].[Viewers]  WITH CHECK ADD  CONSTRAINT [FK_Viewers_GenderInfo] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[Viewers] CHECK CONSTRAINT [FK_Viewers_GenderInfo]
GO
ALTER TABLE [dbo].[Viewers]  WITH CHECK ADD  CONSTRAINT [FK_Viewers_GenderInfo1] FOREIGN KEY([GenderId])
REFERENCES [dbo].[GenderInfo] ([GenderId])
GO
ALTER TABLE [dbo].[Viewers] CHECK CONSTRAINT [FK_Viewers_GenderInfo1]
GO
USE [master]
GO
